NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDPVgGva81_YfLk2guF8dvL-Sb2XeGuK6M
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=balance-bite-cb8e9.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=balance-bite-cb8e9
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=balance-bite-cb8e9.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=51983132666
NEXT_PUBLIC_FIREBASE_APP_ID=1:51983132666:web:b37c982d666f1a89d62643
